body {
    background-color: #5D5555;
    margin: 0;
    padding: 0;
}

/* HEADING + NAVBAR */

#welcome-pic {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00991A;
    color: #5D5555;
}

.site-name {
    width: 50%;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em;
}

.navbar-elements {
    width: 80%;
}

.navbar-elements ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-elements li {
    list-style: none;
}

.navbar-elements li a {
    font-size: 2em;
    text-decoration: none;
    color: #5D5555;
    padding: 1em;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-elements a:hover {
    background-color: #5D5555;
    color: #FEFEFE;
}

.burger {
    position: absolute;
    top: 3.3em;
    right: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.burger .bar {
    height: 3px;
    width: 100%;
    background-color: #FEFEFE;
    border-radius: 10px;
}

@media (max-width: 850px) {
    .burger {
        display: flex;
    }

    .navbar-elements {
        display: none;
        width: 100%;
    } 

    img {
        width: 300px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-elements ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-elements li {
        text-align: center;
    }

    .navbar-elements li a {
        padding: 0.5em 1em;
    }

    .navbar-elements.active {
        display: flex;
    }
}

/* CONTENT */

.left:hover, .right-bottom:hover {
    color:  #FEFEFE;
    background-color: #5D5555;
}

.left {
    border-radius: 50px;
    padding: 2%;
    margin: 2% 0 2% 2%;
    width: 25%;
    height: auto;
    background-color: #00991A;
    color: #5D5555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    float: left;
}

.heading {
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.right-top {
    border-radius: 50px;
    padding: 2%;
    margin: 0.3% 13% 2% 2%;
    width: 50%;
    height: 38%;
    float: right;
}

#content-pic:hover {
    border-color: #FEFEFE;
}

#content-pic {
    border-radius: 50px;
    border: solid 5px #00991A ;
}

.content-pic2 {
    float: left;
    margin: 0 30px 30px 0;
}

.right-bottom {
    border-radius: 50px;
    padding: 2%;
    margin: 1% 2% 0 0;
    width: 59%;
    height: auto;
    background-color: #00991A;
    color: #5D5555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    float: right;
}

/* FOOTER */

#footer-line {
    width: 100%;
    height: 5px;
    background-color: #00991A;
    border: none;
}
.footer {
    clear: both;
    font-size: 1.4em;
    display: block;
    text-align: center;
    margin-top: 55%;
    width: 100%;
    height: 60px;
    background-color: #00991A;
    color: #5D5555;
    font-family: Arial, Helvetica, sans-serif;
}

.footer:hover {
    color:  #FEFEFE;
    background-color: #5D5555;
}

